<div class="container">
  
  <div class = "header">
       <h1 class="text-dark text-capitalize text-center">
        royal grand hotel
        </h1>
    </div>
      <p class="lead text-left text-capitalize">home / hotel details</p>
  <div class="row no-gutters">
    <div class="col-sm">
       
<img class="card" src="../images/79829879.jpg">
    </div>
      
    <div class="col-sm">
       <div id="img-card">
         <img class="card" src="../images/130007126_131259508771522_7787710300509387114_nf608170.jpg" id="card1">
<!--    <br>-->
        <img class="card" src="../images/131275249_134767581754048_1373928561023380115_n69ea993.jpg" id="card2">
        </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container" id = "book">
  <div class="row no-gutters">
    <div class="col-sm">
        <p class="lead text-capitalize text-left">about the place</p>
        <p class="text-capitalize text-left text-dark">
        Ea numquam totam ea commodi voluptas non praesentium praesentium ea voluptate voluptatum vel aperiam quasi in tenetur neque. Id tempora dolore est omnis rerum id maiores sunt et </p>
        <p id="parag">
        praesentium praesentium ea voluptate voluptatum vel aperiam quasi in tenetur neque. Ea numquam totam ea commodi voluptas non 
        </p>
    </div>
    <div class="col-sm">
<div class="card" id="booking">
        <p class="lead text-capitalize">start booking</p>
     <p class="text-dark"><span id="price"><i class="fa fa-dollar"></i> 200 <em></em>per day</span></p> 
    <a class="btn text-capitalize" href ="#" id="book-now">
    book now
    </a>
        </div>
    </div>
    </div>
    
    <!-- features --->
    
    <div class="container" id="features">
  <div class="row">
    <div class="col-sm">
<i class="fa fa-wifi"></i>
        <p class="text-dark text-uppercase text-left">wifi</p>
    </div>
    <div class="col-sm">
<i class="fa fa-bed"></i> <p class="text-dark text-capitalize">24 BedRooms</p>
    </div>
    <div class="col-sm">
<i class="fa fa-tv"></i> 
        <p class="text-dark text-uppercase">tv</p>
    </div>
      <div class="col-sm">
      <i class="fa fa-car"></i> 
          <p class="text-dark text-capitalize">
          parking
          </p>
      </div>
  </div>
</div>
    <!-- options -->
    
<div class="container" style="padding-bottom: 80px;">
    <p class="lead text-capitalize">
    treasure to choose
    </p>
  <div class="row">
    <div class="col-sm">
        <img class="card" src="../images/130107337_131259532104853_5702520814285235230_nfb0e8c7.jpg">
        <a class="btn text-capitalize" href="#" id="text">living room</a>
        
    </div>
      
    <div class="col-sm">
<img class="card" src="../images/Doc-P-9-637566065379159507.jpg" id="single">
          <a class="btn text-capitalize" href="#" id="text">single bed</a>
    </div>
    <div class="col-sm">
 <img class="card" src="../images/131275249_134767581754048_1373928561023380115_n69ea993.jpg" id="family">
          <a class="btn text-capitalize" href="#" id="text">family bed</a>
    </div>
  </div>
</div>
