<div class="container" id="section">
  <div class="row">
    <div class="col-sm">
<h1 class="text-capitalize text-dark">discover you perfect stay, anywhere in liberia</h1>
        <p class="text-dark text-capitalize">Whether you're coming exploring the vibrant streets of monrovia, unwinding on the sea beaches of buchanan, or discovering the hidden gems in Liberia's countryside. stay lib offers a seamless way to find and book your ideal accommondation from crazy guesthouses to luxury vilias, we connect you with authentic stays that make you feel right at home. start your journey with us and experience liberia like never before.</p>
        <a class="btn text-dark text-capitalize" href="#">discover</a>
    </div>
    <div class="col-sm">
        <img class="card" src="images/79829879.jpg">
    </div>
  </div>
</div>