<div class="card-body">
<div class="container" id="form">
    <div class="content">
    <center>
        <div class="card" id="confrimation_alert">
        
        <center>
            <br>
            <i class="fa fa-check-circle" style="font-size: 34px; color: green"></i>
            <br>
            <br>
            <p class="text-capitalize text-center text-xx-lg">
            once we verified, you can access dashboard
            </p>
            <a class="btn btn-outline" href = "/dashboard">
            view dashboard
            </a>
        </center>
        </div>
        </center>
    </div>
</div>