<div class="content bg-light">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
 <div class="card bg-white" id="price">
          <button type="button" class = "btn" style="padding-bottom: 20px;" id="calendar"><i class="fa fa-calendar text-lg text-left"></i>checkavaliable
     </button>
           </div>
    </div>
    <div class="col-sm">
 <div class="card bg-white" id="price">
        <button type="button" class="btn" id="user">
        <i class="fa fa-user"></i> persons 2
            
     </button>
           </div>
    </div>
    <div class="col-sm">
 <div class="card bg-white" id="price">
         <button class="btn">
       <i class="fa fa-map-marker" id="location"></i> select location
     </button>
           </div>
    </div>
       <div class="col-sm">
           <div class="card bg-white" id="price">
          <button type="button" class="btn">
                <i class="fa fa-dollar"></i> price range
               </button>
           </div>
    </div>
      <div class="col-sm">
<button type="button" class="btn" href="#" id="search">
          search
          </button>
    </div>
  </div>
</div>
</div>