

<div class="content bg-light">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
 <form id="">

  <div class="card bg-white" id="price">
    <input type="text" id="location" placeholder="Enter location" aria-label="Location">
             </div>
      </div>
      <div class="col-sm">
   <div class="card bg-white" id="price">
    <input type="number" id="priceMin" placeholder="Min price" aria-label="Minimum Price">
             </div>
      </div>
      <div class="col-sm">
   <div class="card bg-white" id="price">
    <input type="number" id="priceMax" placeholder="Max price" aria-label="Maximum Price">
             </div>
      </div>
         <div class="col-sm">
             <div class="card bg-white" id="price">
              <input type="text" id="amenities" placeholder="Enter amenities (comma-separated)" aria-label="Amenities">
             </div>
      </div>
        <div class="col-sm">
  <button type="submit" class="btn" href="#" id="search">
            search
            </button>
      </div>
    </div>
 </form>
</div>
</div>

<script src="js/search.js"></script>