<body>
  <div class="container justified-center" id="content-section">
    <p class="text-dark text-capitalize text-x-lg lead">discover hidden gems across liberia</p>
    <div class="row">

      <% accommodations.forEach(accommodation=> { %>
        <div class="col-sm">
          <div class="card" id="card1">
            <!--                 <i class="fa fa-heart"></i>-->
            <span>
              <p><i class="fa fa-dollar"></i>
                <%= accommodation.price %>
              </p>
            </span>
          </div>
          <div class="desc fixed shadow">
            <ul class="list-unstyle text-left">
              <li>
                <p class="text-capitalize text-bold text-left">
                  <i class="fa fa-map-marker"></i>
                  <%= accommodation.name %>
                    || <%= accommodation.location %>
                </p>
              <li>
                <p class="text-capitalize text-bold text-left">
                  <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>

              </li>
            </ul>
          </div>
        </div>
        <% }) %>
          <!-- <div class="col-sm">
        <div class="card" id="card2">
          <span>
            <p><i class="fa fa-dollar"></i>25 per night</p>
          </span>
        </div>
        <div class="desc fixed">
          <ul class="list-unstyle text-left">
            <li>
              <p class="text-capitalize text-bold text-left">
                <i class="fa fa-map-marker"></i> corona hotel || 24 street sinkor
              </p>
              
            <li>
              <p class="text-capitalize text-bold text-left">
                <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>

            </li>
          </ul>
        </div>
      </div> -->
          <!-- <div class="col-sm">
        <div class="card" id="card3">
                   <i class="fa fa-heart"></i>
          <span>
            <p><i class="fa fa-dollar"></i>15 per night</p>
          </span>
        </div>
        <div class="desc fixed">
          <ul class="list-unstyle text-left">
            <li>
              <p class="text-capitalize text-bold text-left">
                <i class="fa fa-map-marker"></i> corona hotel || 24 street sinkor
              </p>

            <li>
              <p class="text-capitalize text-bold text-left">
                <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

            </li>
          </ul>
        </div>
      </div> -->

          <!-- second set of cards

      <div class="container" id="content-section">
        <div class="row no-gutters">
          <div class="col-sm">

            <div class="card" id="card4">
              <span>
                <p><i class="fa fa-dollar"></i>75 per night</p>
              </span>
            </div>
            <div class="desc fixed">
              <ul class="list-unstyle text-left">
                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-map-marker"></i> corona hotel || 24 street sinkor
                  </p>

                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>

                </li>
              </ul>
            </div>

          </div>
          <div class="col-sm">
            <div class="card" id="card5">
              <span>
                <p><i class="fa fa-dollar"></i>60 per night</p>
              </span>
            </div>
            <div class="desc fixed">
              <ul class="list-unstyle text-left">
                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-map-marker"></i> corona hotel || 24 street sinkor
                  </p>

                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </p>

                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" id="card6">
              <span>
                <p><i class="fa fa-dollar"></i>10 per night</p>
              </span>
            </div>
            <div class="desc fixed">
              <ul class="list-unstyle text-left">
                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-map-marker"></i> corona hotel || 24 street sinkor
                  </p>

                <li>
                  <p class="text-capitalize text-bold text-left">
                    <i class="fa fa-bed"></i> 24 bedrooms <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                  </p>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
          <!-- </div> -->

          <script src="js/search.js"></script>
</body>