 <nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
      <p class="heading-two text-capitalize text-dark">
      hello, hotel owner
      </p>
     </ul>
</nav>