<div class="container-fluid border-top" id="footer">
    <br>
  <div class="row">
    <div class="col-sm">
<img src="../images/IMG-20240909-WA0016-removebg-preview.png">
<!--        <p class="text-dark text-capitalize" id="paragraph">we kaboom your beauty<br>holiday instanly and membrane</p>-->
    </div>
      <div class="col-sm">
     <ul class="list-unstyle">
          <li class="list-group-item">
         <a class="text-dark text-capitalize" href="#">
              home
              </a>
         </li>
           <li class="list-group-item">
         <a class="text-dark text-capitalize" href="#">
              about
              </a>
         </li>
           <li class="list-group-item">
         <a class="text-dark text-capitalize" href="#">
              explore
              </a>
         </li>
           <li class="list-group-item">
         <a class="text-dark text-capitalize" href="#">
              sign up
              </a>
         </li>
           <li class="list-group-item">
         <a class="text-dark text-capitalize" href="#">
              login
              </a>
         </li>
          </ul>
      </div>
    <div class="col-sm">
<p class="lead text-capitalize text-left">become a hotel owner</p>
        <a class="btn text-capitalize" href="#">
        register now
        </a>
    </div>
<!--
    <div class="col-sm">
One of three columns
    </div>
-->
  </div>
</div>