<div class="card-body">
<div class="container" id="form">
  <center>
    <div class="card" id="login-form">
    <div class="row no-gutters">
    <div class="col-sm">
<img class="card" src="../images/79829879.jpg">
    </div>
    <div class="col-sm">
<div class="card" id="login">
       <form action="/dashboard" method="get">
  <div class="form-group">
    <label for="exampleInput1">user name</label>
    <input type="text" class="form-control" id="exampleInput1" aria-
describedby="input" placeholder="Enter user name">
  </div>
           <br>
           <br>
  <div class="form-group">
    <label for="exampleInputPassword1">password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
placeholder="Password">
  </div>
           <br>
  <div class="form-group form-check">
    <label class="form-check-label" for="exampleCheck1">do you have an <a href="#">account</a>?</label>
  </div>
           <br>
  <button type="submit" class="btn btn-outline  text-capitalize">login</button>
           <br>
           <br>
           <a id="forget" href = "/forget_password">forget password</a>
</form>
        </div>
    </div>
  </div>
    </div>
    </center>
</div>
</div>