<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <!-- external css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- localhosted bootstrap -->
    <link href="/bootstrap 5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- localhosted font-awesome icons -->
    <link rel="stylesheet" href="/font-awesome 4.7.0/css/font-awesome.css">
    <meta charset="utf-8">
</head>

<body>
    <%-include('navbar');-%>

        <main style="justify-content: center; align-items: center; display: flex;">
            <div class="row shadow" style="background-color: #fff8e1; width: 70%; height: auto;">
                <div class="col-md-6">
                    <img src="../public/images/formImage.png" class="img-fluid w-100" style="height: 100vh;" alt="Logo">
                    <img src="../images/formImage.png" class="img-fluid w-100" style="height: 100vh;" alt="Logo">
                </div>
                <div class="col-md-6 mt-5">
                    <h2 class="text-center mt-5">Login Account</h2>
                    <form action="/login" method="post">
                        <div class="col-sm-12 mt-5 px-3">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail"
                                placeholder="Enter your email address">
                        </div>
                        <div class="col-sm-12 mt-3 px-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword3"
                                placeholder="Password">
                        </div>
                        <div class="px-3">
                            <button type="submit" class="btn btn-primary mt-4"
                                style="width: 100%; background-color: #D7A20D; border: none;">Login</button>
                        </div>

                        <p class="text-center" style="font-size: 0.8rem; margin-top: 10px;">Don't have an account?<a
                                href="/signup">Sign Up</a></p>
                    </form>

                </div>
            </div>

            </div>
            </div>
        </main>

        <!-- jQuery -->
        <script src="js/jquery-3.7.1.min.js">
        </script>
        <!-- external JS -->
        <script src="js/script.js">
        </script>
</body>

</html>