<nav class="navbar bg-white fixed-top">
  <a class="navbar-brand" href="/home">
    <img src="images/IMG-20240909-WA0016-removebg-preview.png" class="img-fluid "
      style="height: 50px; object-fit: cover;">
  </a>
  <ul class="nav navbar-justified navbar-pills">
    <li class="nav-item"><a class="nav-link" href="/home" id="home">home</a></li>
    <li class="nav-item"><a class="nav-link" href="/about" id="link">about</a></li>
    <li class="nav-item"><a class="nav-link" href="/explore" id="link">explore</a></li>
    <li class="nav-item"><a class="nav-link" href="/signup" id="link">signup</a></li>
    <li class="nav-item"><a class="nav-link" href="/login" id="login">login</a></li>
  </ul>
</nav>