<div class="card-body">
<div class="container" id="form">
  <center>
    <div class="card" id="login-form">
    <div class="row no-gutters">
    <div class="col-sm">
<img class="card" src="../images/79829879.jpg">
    </div>
    <div class="col-sm">
<div class="card" id="login">
       <form action="/confrimation" method="get">
 <h1 class="text-capitalize text-left">email verification</h1>
    <p class="text-left text-capitalize text-wrap" id="text">please enter the 4 digits code that was sent<br> to your email address</p>
           <div class="container">
  <div class="row">
    <div class="col-sm" id="digit-1">

    </div>
    <div class="col-sm" id="digit-2">

    </div>
    <div class="col-sm" id="digit-3">

    </div>
      <div class="col-sm" id="digit-4">

    </div>
  </div>
</div>
           <br>
           <p class="text-capitalize text-center">if you don't received code <a href = "#">resend</a></p>
           <br>
  <button type="submit" class="btn btn-outline  text-capitalize">reset password</button>
</form>
        </div>
    </div>
  </div>
    </div>
    </center>
</div>
</div>