<style>
  ul{
    background-color: black;
    color: white;
  }

  span:hover{
    background-color: goldenrod;
    color: white;
  }
 
</style>

<nav class="d-lg-block sidebar bg-light shadow col-md-2 position-fixed h-100 pt-4 mt-5">
  <div class="position-sticky">
    <div class="list-grop list-group-flush mx-2">
      <!-- <h5 class="pb-2 border-bottom">Host Dashboard</h5> -->
      <ul class="nav flex-column">
        <a href="/host-dashboard" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-tachometer fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="/host-manage-property" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-building fa-fw me-3"></i><span>Properties</span>
        </a>
        <a href="host-manage-bookings" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-calendar-check fa-fw me-3"></i><span>Bookings</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-comments fa-fw me-3"></i><span>Messages</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-credit-card fa-fw me-3"></i><span>Payments</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-link fa-fw me-3"></i><span>Reviews</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 ripple">
          <i class="fa-solid fa-cogs fa-fw me-3"></i><span>Settings</span>
        </a>

      </ul>
    </div>
  </div>
</nav>