<!-- Sidebar -->
<nav id="sidebarMenu" class="d-lg-block sidebar bg-light shadow col-md-2 position-fixed h-100" style="">
  <div class="position-sticky">
    <!-- Logo Section -->
    <div class="logo text-center bg-light p-3">
      <img src="images/logo.png" alt="Logo" class="img-fluid" style="max-width: 150px; height: 60px;">
    </div>

    <!-- Sidebar Menu -->
    <div class="list-group list-group-flush mx-2">
      <a href="/admin-dashboard" class="list-group-item list-group-item-action py-3 ripple" aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <a href="/manage-user" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-users fa-fw me-3"></i><span>User Management</span>
      </a>
      <a href="/manage-accommodation" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-building fa-fw me-3"></i><span>Accommodation Management</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-calendar-check fa-fw me-3"></i><span>Booking</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-money-check-alt fa-fw me-3"></i><span>Payment Overview</span>
      </a>
      <!-- <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-comments fa-fw me-3"></i><span>Messages</span>
      </a> -->
      <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-chart-line fa-fw me-3"></i><span>Analytics</span>
      </a>
      <!-- <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-life-ring fa-fw me-3"></i><span>Help</span>
      </a> -->
      <!-- <a href="#" class="list-group-item list-group-item-action py-3 ripple">
        <i class="fa-solid fa-cogs fa-fw me-3"></i><span>Settings</span>
      </a> -->
    </div>
  </div>
</nav>