 <!-- Navbar -->
 <nav class="navbar navbar-light bg-body-tertiary">
    <!-- Greeting -->
    <div class="greeting">
      <div class="title">Hello, Hotel Owner</div>
      <div class="subtitle">Have a nice day</div>
    </div>

    <!-- User Info -->
    <div class="user-info">
      <div class="notification">
        <i class="fas fa-bell"></i>
      </div>
      <div class="divider"></div>
      <div class="dropdown user-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="user-image">
            <img src="vacation.jfif" alt="User Image">
          </div>
          <div class="user-details">
            <div class="username">John Doe</div>
            <div class="user-role">Hotel Owner</div>
          </div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->