 <!-- Sidebar -->
 <nav id="sidebarMenu" class="d-lg-block sidebar">
    <div class="position-sticky">
      <!-- Logo Section -->
      <div class="logo mx-3">
        <img src="images/logo.png" alt="Logo">
      </div>

      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
          <i class="fa-solid fa-chart-simple fa-fw me-3"></i><span>Objectives</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
          <i class="fa-solid fa-file-lines fa-fw me-3"></i><span>Booking</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-regular fa-image fa-fw me-3"></i><span>Photos</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-hand-holding-dollar fa-fw me-3"></i><span>Refunds</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-message fa-fw me-3"></i><span>Message</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-regular fa-circle-question fa-fw me-3"></i><span>Help</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fa-solid fa-gear fa-fw me-3"></i><span>Setting</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->